.contenedor-faqs { 
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contenido-faqs {
    display: grid;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    margin-bottom: 3rem;
    
    div{
        
        height: 90%;
        background-color: rgba(0,0,0,0);
  
        
            ul {
                background-color: rgba(0,0,0,0);
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;
                background-image: url("../../img/back-madera.jpg");
                align-items: center;
                justify-content: center;
                padding-top: 1.5rem;
                
                li {
                    list-style: none;
                    background-color: rgba(0,0,0,0);
                    margin-bottom: 100rem;
                    margin-bottom: 1rem;
                    background-size: cover;

                    p {
                        background-color: rgba(0,0,0,0);
                        font-weight: bold;
                    }
                }
            }

            h2 {
                background-color: rgba(0,0,0,0);
            }
    }
}










