@import "../utilidades/variables";



header {
            display: block;
            align-items: center;
            background-color: white;

            img {
                height: 15rem;
                display: flex;
                }

            nav {
                background-color: white;
                }
        }


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

.contenedor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-home {
    display: flex;
    max-width: 100%;
    margin-bottom: 0.5rem;
}


