
.contenedor-img-personalizadas {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
}
  
.img-personalizadas {
    margin-left: 1rem;
    margin-right: 1rem;
}

.img-width {
    width: 180rem;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
   
